<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'chatbot/css/chatting_page.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="chat-container">
      <h1 style="margin:20px auto">ChatBot</h1>
      <div class="chat-box" id="chat-box">
        <!-- Messages will appear here -->
      </div>
      <div class="chat-input-container">
        <input
          type="text"
          id="chat-input"
          placeholder="Type your message here..."
          onkeydown="checkEnter(event)"
        />
        <button onclick="sendMessage()">Send</button>
      </div>
    </div>

    <!-- Static으로 JavaScript 파일을 로드 -->
    <script src="{% static 'chatbot/js/chatting_page.js' %}"></script>
  </body>
</html>